{% extends "templates/base.twig" %}

{% block title %}Auth Home{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <h1>Auth Home</h1>
    <p class="important">
        Auth Home
    </p>
{% endblock %}

{% block footer %}{% endblock %}
