{% extends "templates/base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        Index Home
    </p>
{% endblock %}

{% block footer %}{% endblock %}
